%p{ :class => (:overbooked if @writer.bookings.count >= @writer.review_limit )} #{ @writer.name } has a review limit of #{ @writer.review_limit } and is currently booked for #{ @writer.bookings.count } show(s)
%p{ :class => (:doublebooked if @booked_performances.count >0 )}
	This writer is
	- if @booked_performances.count > 0
		booked to see another show at the selected time:
		- @booked_performances.each do |p|
			%strong #{p.event.title}, #{p.starts_at.strftime("%H:%M%p")}&mdash;#{p.ends_at.strftime("%H:%M%p")}
	- else 
		is not booked to see any other shows at this time
		
- if @before_performances.count >0
	%p.nearbooked
		This writer is booked to see another show that ends less than 30 minutes before this one.
		- @before_performances.each do |p|
			%strong #{p.event.title}, #{p.starts_at.strftime("%H:%M%p")}&mdash;#{p.ends_at.strftime("%H:%M%p")}
		
- if @after_performances.count >0
	%p.nearbooked
		This writer is booked to see another show that starts less than 30 minutes after this one.
		- @after_performances.each do |p|
			%strong #{p.event.title}, #{p.starts_at.strftime("%H:%M%p")}&mdash;#{p.ends_at.strftime("%H:%M%p")}

