- if @events.blank?
	%tr.empty
		%td{ :colspan => 3 }
			- if params[:q]
				No matches. Enter another search term.
			- else
				Enter a search term above to find events.
				
- @events.each do |event|
	%tr{ :class => [(event.scheduled? ? :booked : :unbooked ), cycle(:odd, :even)].join(" ")}
		%td.toggle= link_to(event.has_pic?, event_toggle_image_path(event), :class => "toggle_link #{event.has_pic?}")
		%td
			.title= link_to(event.title, event_path(event.id))
			.details= [:cached_venues, :cached_dates, :cached_times].map{|a| event.send(a) }.compact.join(", ")
		%td
			- if event.scheduled? && (booking = event.performances.map{|p| p.bookings}.flatten.first)
				.booking_name= booking.writer.name
				.booking_details= booking.performance.strftime("%A %d, %H:%M%p")
			- else
				.booking_none No booking