!!! 5
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
%html.no-js
	<!--<![endif]-->
	%head
		%meta{:charset => "utf-8"}/
		%meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/
		%meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }/
				
		%title Fest Scheduling Tool

		= include_stylesheets :default, :media => :all
		= include_javascripts :default
		= csrf_meta_tag
		
	%body{ :lang => :en }
		#header
			#header_wrapper
				#main_title Fest scheduling tool
				%ul#main_nav
					%li= link_to "Home", root_path, :class => (:active if controller.controller_name=="welcome")
					%li= link_to "Events", events_path, :class => (:active if controller.controller_name=="events")
					%li= link_to "Bookings", bookings_path, :class => (:active if controller.controller_name=="bookings")
					%li= link_to "Writers", writers_path, :class => (:active if controller.controller_name=="writers")
		#main_wrapper	
			#main_content
				= flash_message
				= yield